<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>同行后台管理系统</title>
		<meta name="keywords" content="同行" />
		<meta name="description" content="同行" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="source/echarts.js"></script>
	</head>
	<body>
		<div id="main" style="margin-top:35%;height:350px;border:1px solid #ccc;padding:0px;"></div>
		<script type="text/javascript">
			// 基于准备好的dom，初始化echarts图表
		require.config({
            paths: {
                echarts: './dist'
            }
        });
        
        // 使用
        require(
            [
                'echarts',
                'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
            ],
            function (ec) {
            //--- 折柱 ---
				var myChart = ec.init(document.getElementById('main'));
				myChart.setOption({
					tooltip : {
						trigger: 'item',
						borderRadius:10,
						axisPointer:{type:"none"}
					},
					calculable : true,
					
					xAxis : [
						{
							splitLine:{
						　　　　show:false
						　　},
							type : 'category',
							data : ['10000','20000','30000','40000','50000','60000','70000','80000','90000','100000','110000','120000',"130000",'140000','150000',"160000",'170000','180000',"190000"]
						}
					],
					yAxis : [
						{
							type : 'value',
							splitArea : {show : true},
							axisLabel:{
								show:true,
								formatter:function(value){
									return value+"人"
								},
							}
						}
					],
					axis : [
						{
							boundaryGap:true
						}
					],
					series : [
						{
							name:'降水量',
							type:'bar',
							data:[70, 54, 72, 77, 58, 80, 135, 162, 151, 198, 158, 148,170, 150, 110, 100,58, 28],
							itemStyle: {
								normal: {
									color:"#FFC412"
								}
							}
						}
					],
					dataZoom:{
						show:true,
						dataBackgroundColor:"#2c5096",
						orient:"horizontal",
						backgroundColor:"#EFEFEF",
						/*realtime:true,*/
						height:38,
						handleSize:50
					}
				});
				
			   
				window.onresize = function() {
					myChart.resize();
				}
			}
        );
		</script>
	</body>
	
</html>